{% extends "registration/base.html" %}
{% load static %}



{% block main %}


<div style="display:flex; gap:8px;">
  <form id="date-filter-form">
    <label for="date">filter month</label>
    <input type="month" id="date-picker" name="date">
    <button type="button" onclick="redirectToExpenses()">Filter</button>
        
  </form>
  <a href="{% url 'expense_list' %}"><button>Remove filters</button></a>
</div>
<a href="{% url 'add_expense' %}"><button>add</button></a>




<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'registration/incomes_table/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Expenses</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>amount</th>
						      <th>category</th>
						      <th>date</th>
						      <th>reason</th>
						    </tr>
						  </thead>
						  <tbody>
						    {% for expense in expenses %}
                            <tr>
                                <th scope="row">{{expense.amount}}$</th>
                                <td>{{expense.category}}</td>
                                <td>{{expense.date}}</td>
                                <td>{{expense.description}}</td>
                              </tr>
                            {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'registration/incomes_table/js/jquery.min.js' %}"></script>
  <script src="{% static 'registration/incomes_table/js/popper.js' %}"></script>
  <script src="{% static 'registration/incomes_table/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'registration/incomes_table/js/main.js' %}"></script>

  <script src="https://kit.fontawesome.com/cab1fd28d4.js" crossorigin="anonymous"></script>
  {% comment %} filter month js {% endcomment %}
  <script>
    function redirectToExpenses(){
        const datePicker = document.getElementById('date-picker');
        const selectedDate = datePicker.value; // Format: "YYYY-MM"
        if (selectedDate) {
            const [year, month] = selectedDate.split('-');
            const url = `/expenses/${year}/${month}/`;
            window.location.href = url; // Redirect to the new URL
        }
    }
</script>


	</body>
</html>

{% endblock main %}