{% extends "registration/base.html" %}
{% load static %}



{% block main %}
<form id="date-filter-form">
  <label for="date">filter month</label>
  <input type="month" id="date-picker" name="date" columns={6}>
  <button type="button" onclick="redirectToExpenses()">Filter</button>
</form>
<div class="row">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3>${{total_spent}}</h3>

          <p>monthly expenses<span>{{time_period}}</span></p>
          
        </div>
        <div class="icon">
            <i class="fa fa-dollar"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3>53<sup style="font-size: 20px">%</sup></h3>

          <p>Bounce Rate</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>44</h3>

          <p>User Registrations</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3>65</h3>

          <p>Unique Visitors</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->
{% block title %}Expenses{% endblock title %}

<html lang="en">
  <head>
  	<title>Incomes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'registration/incomes_table/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Incomes</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>#</th>
						      <th>First Name</th>
						      <th>Last Name</th>
						      <th>Email Address</th>
						    </tr>
						  </thead>
						  <tbody>
						    {% for expense in expenses %}
                            <tr>
                                <th scope="row">{{expense.amount}}$</th>
                                <td>{{expense.category}}</td>
                                <td>{{expense.date}}</td>
                                <td>{{expense.user.email}}</td>
                              </tr>
                            {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'registration/incomes_table/js/jquery.min.js' %}"></script>
  <script src="{% static 'registration/incomes_table/js/popper.js' %}"></script>
  <script src="{% static 'registration/incomes_table/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'registration/incomes_table/js/main.js' %}"></script>

  <script src="https://kit.fontawesome.com/cab1fd28d4.js" crossorigin="anonymous"></script>
  {% comment %} filter month js {% endcomment %}
  <script>
    function redirectToExpenses() {
        const datePicker = document.getElementById('date-picker');
        const selectedDate = datePicker.value; // Format: "YYYY-MM"
        if (selectedDate) {
            const [year, month] = selectedDate.split('-');
            const url = `/expenses/${year}/${month}/`;
            window.location.href = url; // Redirect to the new URL
        }
    }
</script>


	</body>
</html>

{% endblock main %}