{% extends "registration/base.html" %}
{% load static %}
{% block title %}

{% endblock title %}
{% block main %}
		<div style="display: flex; justify-content:space-between; flex-direction: row-reverse;">
			<a  href="{%url 'add_income' %}"><button class="btn btn-block btn-primary">Add Income</button></a>
			<div style="display:flex; gap:8px;">
				<form id="date-filter-form">
					<label>Month:</label>
					<div class="input-group date" id="reservationdatetime" data-target-input="nearest">
						<input type="month" class="-group-append" id="date-picker" name="date" />
						<div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
							<div class="input-group-text"><i class="fa fa-calendar"></i></div>
						</div>
						<button class="ml-3" type="button" onclick="redirectToExpenses()">Filter</button>
					</div>
				</form>
			</div>
		</div>
		<div class="mt-5">
			<h5>Total spent:<span> {{total_spent}}$</span></h3>
			<p>Time period:<span> {{time_period}}</span></h3>
		</div>
	
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
								<th>amount</th>
								<th>category</th>
								<th>date</th>
								<th>reason</th>
						    </tr>
						  </thead>
						  <tbody>
						    {% for income in incomes %}
                            <tr>
                                <th scope="row">{{income.amount}}$</th>
                                <td>{{income.category}}</td>
                                <td>{{income.date}}</td>
                                <td>{{income.description}}</td>
                              </tr>
                            {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

  <script>
    function redirectToExpenses() {
        const datePicker = document.getElementById('date-picker');
        const selectedDate = datePicker.value; // Format: "YYYY-MM"
        if (selectedDate) {
            const [year, month] = selectedDate.split('-');
            const url = `/incomes/${year}/${month}/`;
            window.location.href = url; // Redirect to the new URL
        }
    }
</script>



{% endblock main %}