{% extends "registration/base.html" %}
{% load static %}
{% block title %}

{% endblock title %}
{% block main %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Incomes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'registration/incomes_table/css/style.css' %}">
	</head>
	<body>
		<div style="display: flex; justify-content:space-between; flex-direction: row-reverse;">
			<a href="{%url 'add_income' %}"><button>ADD INCOME</button></a>
			<div style="display:flex; gap:8px;">
				<form id="date-filter-form">
				<label for="date">filter month</label>
				<input type="month" id="date-picker" name="date">
				<button type="button" onclick="redirectToExpenses()">Filter</button>
				</form>
				<a href="{% url 'income_list' %}"><button>Remove filters</button></a>
			</div>
		</div>
		<div>
			<h3>Total spent:<span> {{total_spent}}$</span></h3>
			<h3>Time period:<span> {{time_period}}</span></h3>
			<a href="{% url 'income_goal'%}"><button>edit</button></a>

		</div>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Incomes</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-primary">
						    <tr>
						      <th>#</th>
						      <th>First Name</th>
						      <th>Last Name</th>
						      <th>Email Address</th>
						    </tr>
						  </thead>
						  <tbody>
						    {% for income in incomes %}
                            <tr>
                                <th scope="row">{{income.amount}}$</th>
                                <td>{{income.category}}</td>
                                <td>{{income.date}}</td>
                                <td>{{income.user.email}}</td>
                              </tr>
                            {% endfor %}
						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'registration/incomes_table/js/jquery.min.js' %}"></script>
  <script src="{% static 'registration/incomes_table/js/popper.js' %}"></script>
  <script src="{% static 'registration/incomes_table/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'registration/incomes_table/js/main.js' %}"></script>

  <script src="https://kit.fontawesome.com/cab1fd28d4.js" crossorigin="anonymous"></script>

  <script>
    function redirectToExpenses() {
        const datePicker = document.getElementById('date-picker');
        const selectedDate = datePicker.value; // Format: "YYYY-MM"
        if (selectedDate) {
            const [year, month] = selectedDate.split('-');
            const url = `/incomes/${year}/${month}/`;
            window.location.href = url; // Redirect to the new URL
        }
    }
</script>
</body>
</html>


{% endblock main %}